
    <div class="main-login">
		<div class="left-login">
			<div class="head-block">			
				<img class="parrot-image" src="assets/images/parrot_loader.gif" >
				<br/>
				<h1 class="heading">Parramato</h1> 
				<!-- <div class="div-heading"></div>
				<h1 class="main-heading">Parramato</h1>  -->
				<h2 class="sub-heading">Imagine. Build. Fly.</h2>
			</div>
	    </div>  
	    <div class="right-login">
	    	<div class="button-block">
		    	<button class="login-button" (click)="socialSignIn('facebook')"><img src="assets/images/facebook-sign-in.png"></button>
		    	<button class="login-button" (click)="socialSignIn('google')"><img src="assets/images/google-sign-in.png"></button> 
		    </div>
	    </div>
	</div> 